<div id="<%= dom_id question %>">
  <p>
    <strong>Question:</strong>
    <%= question.question_id %>
  </p>

  <p>
    <strong>Question stantement:</strong>
    <%= question.question_stantement %>
  </p>

  <p>
    <strong>Explanation:</strong>
    <%= question.explanation %>
  </p>

  <p>
    <strong>User:</strong>
    <%= question.user_id %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= question.genre_id %>
  </p>

  <p>
    <strong>Choices1:</strong>
    <%= question.choices1 %>
  </p>

  <p>
    <strong>Choices2:</strong>
    <%= question.choices2 %>
  </p>

  <p>
    <strong>Choices3:</strong>
    <%= question.choices3 %>
  </p>

  <p>
    <strong>Choices4:</strong>
    <%= question.choices4 %>
  </p>

</div>
