<p style="color: green"><%= notice %></p>

<%= render @user_master %>

<div>
  <%= link_to "Edit this user master", edit_user_master_path(@user_master) %> |
  <%= link_to "Back to user masters", user_masters_path %>

  <%= button_to "Destroy this user master", @user_master, method: :delete %>
</div>
