<p style="color: green"><%= notice %></p>

<%= render @genre_master %>

<div>
  <%= link_to "Edit this genre master", edit_genre_master_path(@genre_master) %> |
  <%= link_to "Back to genre masters", genre_masters_path %>

  <%= button_to "Destroy this genre master", @genre_master, method: :delete %>
</div>
